
.compose-wrapper {
  display: block;
}

.compose-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 6px;
  border: 1px solid #cbc7c7;
  box-sizing: border-box;
}

.compose-editor {
  min-height: 260px;
  margin-bottom: 12px;
  border: 1px solid #cbc7c7;
  border-radius: 6px;
}

.compose-send {
  background: #1a73e8;
  color: #fff;
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
   font-weight: 600;
  cursor: pointer;
}

.compose-send:hover {
  background: #1765c1;
}